# Compiled class file
*.class

# Log file
*.log
*.log.*.gz
*.log.*.tmp

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Package Files #
*.jar

target/

/rabbitmq

/volume/**
!/volume/helmTemplates/
/volume/helmTemplates/**
!/volume/helmTemplates/README.md
!/volume/tadms/
/volume/tadms/**
!/volume/tadms/README.md